<div class="container my-3">
  <!-- Title -->
  <div class="row mb-5 text-center">
    <div class="col-md-12">
      <h1>Angular Forms Demo</h1>
    </div>
  </div>

  <div class="row mt-4">
    <!-- Template Driven Column -->
    <div class="col-xs-12 col-md-6 bg-light p-4">
      <h2 class="text-center mb-4">Template Driven Approach</h2>
      <app-book-form-template></app-book-form-template>
    </div>

    <!-- Reactive Driven Column -->
    <div class="col-xs-12 col-md-6 bg-dark text-light p-4">
      <h2 class="text-center mb-4">Reactive Driven Approach</h2>
      <app-book-form-reactive></app-book-form-reactive>
    </div>
  </div>
</div>
